* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}




/*Tipografías Generales*/
.logo {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-size: 1rem;
}

.menu {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;

}

/*Tipografías específicas*/

.titulo-hero {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 4rem;
    color: white;
}

.subtitulo-hero {
    font-family: "Poiret One", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: white;
}

.botón-tickets {
    font-family: "Elms Sans", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
}




.titulo-secciones {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 2rem;

}

.texto {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.texto2 {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}



.info-principal{
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
}


.cast {
    font-family: "Poller One", sans-serif;
    font-weight: 100;
    color: white;
}

.formulario-texto {
    font-family: "Elms Sans", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
}


/*Elementos Generales*/
body {
    background-color: beige;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5vw;
    padding-right: 1vw;
}

.logo {
    padding-left: 1vw;
}

.menu ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}





/*HOME*/
.hero-home {
    position: relative;
    width: 100%;
}

.img-hero {
    width: 100%;
    display: block;
    padding-top: 0.5vw;
}

.contenido-hero {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.titulo-hero {
    display: flex;
    justify-content: center;
    font-size: 8rem;
}

.subtitulo-hero {
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
}

.texto {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 4vw;
}



.info-principal {
    display: flex;
    justify-content: center;
    gap: 8vw;
    margin: 4vw;
}

.info-opening,
.info-localizacion,
.info-tickets{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.gallery{
    display: flex;
    gap: 1vw;
    padding-top: 2vw;
    padding-bottom: 7vw;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.column img{
    width: 100%;
}



/*ABOUT*/
.hero-about {
    position: relative;
    width: 100%;
}

.img-hero-about {
    width: 100%;
    padding-top: 0.5vw;
}

.cast {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10vw;
    margin: 4vw;
    position: absolute;
    top: 80%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 1rem;
}


.about-the-film {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vw;
    height: 50vh;
}

.about-the-film-texto {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-the-film h1 {
    width: 40%;
}

.about-the-film p {
    width: 40%;
    margin-bottom: 1.5vw;
}


.about-the-film img {
    padding-top: 1vw;
    width: 70%;
}


.info-principal {
    text-align: center;
}




.inside-exhibition img {
    width: 100%;
}

.inside-exhibition-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
}

.inside-exhibition-texto h1 {
   width: 40%;
   margin-bottom: 0.5vw;
}

.inside-exhibition p {
    width: 40%;
    margin-bottom: 1.5vw;
}




/*TICKETS*/
.img-hero-tickets {
    width: 100%;
    padding-top: 0.5vw;
}

.inside-the-exhibition-img img {
    width: 100%;
}