* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color: beige;
}



/*Tipografías Generales*/
.logo {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-size: 1rem;
}

.menu {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;

}

/*Tipografías específicas*/

.titulo-hero {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 4rem;
    color: white;
}

.subtitulo-hero {
    font-family: "Poiret One", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: white;
}

.botón-tickets {
    font-family: "Elms Sans", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
}




.titulo-secciones {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 2rem;

}

.texto {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.texto2 {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}



.info-principal{
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
}

.formulario-texto {
    font-family: "Elms Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.formulario-subtexto {
    font-family: "Elms Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}



/*Menú Desktop*/
.logo {
    padding-left: 1vw;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5vw;
    padding-right: 1vw;
}

.menu ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}


/*Menú Tablet & Móvil*/
.nav-mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6f745c;
    z-index: 9999;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
}

.menu-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-mobile li a {
    font-size: 40px;
    color: white;
}


/*Menú Iconos*/
.hamb {
    display: none;
    cursor: pointer;
    font-size: 30px;

    z-index: 10000;
}

.side-menu {
    display: none;
}

.hamb .fa-xmark {
    display: none;
    color: white;
    padding: 20px;
}



.side-menu:checked ~ .nav-mobile {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .fa-bars {
    display: none;
}

.side-menu:checked ~ .hamb .fa-xmark {
    display: block;
}












/*HOME*/
.hero-home {
    position: relative;
    width: 100%;
}

.img-hero {
    width: 100%;
    display: block;
    padding-top: 1vw;
}

.contenido-hero {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.titulo-hero {
    display: flex;
    justify-content: center;
    font-size: 8rem;
}

.subtitulo-hero {
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
}

.texto {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 4vw;
}



.info-principal {
    display: flex;
    justify-content: center;
    gap: 8vw;
    margin: 4vw;
}

.info-opening,
.info-localizacion,
.info-tickets{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.gallery{
    display: flex;
    gap: 1vw;
    padding-top: 2vw;
    padding-bottom: 7vw;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.column img{
    width: 100%;
}



/*ABOUT*/
.hero-about {
    position: relative;
    width: 100%;
}

.img-hero-about {
    width: 100%;
    padding-top: 0.5vw;
}

.cast {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10vw;
    margin: 4vw;
    position: absolute;
    top: 80%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 1rem;
}


.about-the-film {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vw;
    height: 50vh;
}

.about-the-film-texto {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-the-film h1 {
    width: 40%;
}

.about-the-film p {
    width: 40%;
    margin-bottom: 1.5vw;
}


.about-the-film img {
    padding-top: 1vw;
    width: 70%;
}


.info-principal {
    text-align: center;
}




.inside-exhibition img {
    width: 100%;
}

.inside-exhibition-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
}

.inside-exhibition-texto h1 {
   width: 40%;
   margin-bottom: 0.5vw;
}

.inside-exhibition p {
    width: 40%;
    margin-bottom: 1.5vw;
}




/*TICKETS*/
.img-hero-tickets {
    width: 100%;
    padding-top: 0.5vw;
}

.inside-the-exhibition-img img {
    width: 100%;
}



.seleccion-tickets {
    width: 75%;
    margin: auto;
    padding: 7vh 0;
}

.titulo-secciones {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0.8vw;
}

.titulo-otras-secciones p {
    font-family: "Elms Sans", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.8vw;
}

.text {
    font-size: 1rem;
    margin-bottom: 35px;
    font-family: "Poiret One", sans-serif;
}






.caja-tickets {
    border: 1px solid #222;
    margin-bottom: 35px;
    padding: 0 0 3vh 0;
}



.caja-tickets > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}




/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #6f745c;
    color: white;
    padding: 3%;
    margin: 0;
    gap: 6vw;
}

.footer-logo {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-size: 1.5rem;
}

.footer-eslogan {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.footer-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 7vw;
    text-align: center;
    font-family: "Elms Sans", sans-serif;
}

.footer-info h3 {
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.footer-info p {
    font-family: "Elms Sans", sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    color: white;

}

.social-icons a{
    color: white;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-family: "Elms Sans", sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
}

.footer-bottom div {
    display: flex;
    gap: 2vw;
}




/*Media Queries Menú*/
@media screen and (max-width: 720px) {

    .nav-desktop {
        display: none;
    }

    .hamb {
        display: block;
    }
}